@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

html {
    --poppins: 'Poppins', sans-serif;
    --openSans: 'Open Sans', sans-serif;
    --greenColor: #24ddb3;
}
 img {
    max-width: 100%;
}

.header_menu ul li a {
    font-size: 16px;
    font-family: var(--poppins);
    font-weight: 700;
    color: #0e1424;
    text-transform: uppercase;
    /* font-weight: bold; */
}

/* ================================= hero section start  =================================== */
.hero_part {
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.hero_content h1 {
    font-size: 70px;
    color: #31d7ce;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 11px;
}
.hero_content a {
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    color: #31d7ce;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
/* ================================= hero section end  =================================== */


/* ================================= about section start  =================================== */
.about_part {
    margin-bottom: 100px;
}
.about_content h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #31d7ce;
    font-weight: 500;
    font-family: var(--poppins);
    letter-spacing: 3px;
}
.about_content p {
    font-size: 15px;
    font-family: var(--openSans);
}
button {
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--openSans);
    background: var(--greenColor);
    /* padding: 8px 24px; */
    border-radius: 50px;
    border: none;
}

button a {
    color: white;
}

/* ================================= about section end  =================================== */


/* ================================= service section start  =================================== */
.service_part {
    font-family: var(--openSans);
    margin-bottom: 100px;
}
.top_head h1 {
    font-size: 40px;
    color: #252525;
    font-weight: 700;
    padding-bottom: 30px;
}

.service_box {
    display: flex;
    gap: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    padding: 30px 20px; 
    transition: all ease 0.3s;
}
.service_box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* padding: 20px; */
}
.service_content h4 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #444444;
    font-weight: 600;
}
.service_content p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #555555;
    font-weight: 400;
}
/* ================================= service section end  =================================== */



/* ================================= portfolio section start  =================================== */
.portfolio_part {
    font-family: var(--openSans);
    margin-bottom: 100px;
}
/* ================================= portfolio section end  =================================== */


/* ================================= count section start  =================================== */
.countArea {
    background-image: url(/assets/image/04-VEER\ bg\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--poppins);
    padding: 30px 0px;
    margin-bottom: 100px;
}
.countBox {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* gap: 20px; */
}
.countBox i {
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}
.countBox img {
    max-width: 30px;
    padding-bottom: 10px;
}
.countNmbr {
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}
.countTitle {
    font-size: 15px;
    color: #d4d4d4;
    font-weight: 500;
    text-align: center;
}
/* ================================= count section end  =================================== */


/* ================================= blog section start  =================================== */
.blog {
    padding-bottom: 100px;
}
.blogBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blogTitle {
    font-family: var(--poppins);
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
}

.pra {
    font-size: 18px;
    color: #666666;
    font-weight: 400;
    font-family: var(--openSans);
}
.blogBtn{
    font-size: 13px;
    text-transform: uppercase;
    color: #555555;
    font-family: var(--poppins);
}
/* ================================= blog section end  =================================== */


/* ================================= connect section start  =================================== */
.connect_part {
    background: #4fd18d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
    padding: 60px 0px;
}
.questions {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: var(--poppins);
}
.connect_part a {
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    font-family: var(--openSans);
    text-transform: uppercase;
    background: #06e471;
    border-radius: 50px;
    padding: 10px 30px;
}
/* ================================= connect section end  =================================== */

