@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

html {
    --poppins: 'Poppins', sans-serif;
    --openSans: 'Open Sans', sans-serif;
}
 img {
    max-width: 100%;
}

.header_menu ul li a {
    font-size: 16px;
    font-family: var(--poppins);
    font-weight: 700;
    color: #0e1424;
    text-transform: uppercase;
    /* font-weight: bold; */
}

/* ================================= hero section start  =================================== */
.hero_part {
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 100px; */
}
.hero_content h1 {
    font-size: 70px;
    color: #31d7ce;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 11px;
}
.hero_content a {
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    color: #31d7ce;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
/* ================================= hero section end  =================================== */


